.admins {
  height: 100vh;

  .add-admin {
    display: flex;
    justify-content: flex-end;
    margin: 20px;

    .add-admin-btn {
      background-color: #ffa300;
      border: 1px solid #ffa300;
      color: var(--secondaryColor);
      padding: 8px 12px;
      font-size: 18px;
      border-radius: 7px;
      transition: all 0.5s;

      &:hover {
        background-color: var(--secondaryColor);
        border: 1px solid #ffa300;
        color: #ffa300;
      }
    }
  }

  .admin-data {
    // background-color: aqua;
    display: flex;
    justify-content: center;

    .admin-table {
      border: 1px solid #ffa300;
      width: 600px;

      thead {
        border: 1px solid #ffa300;
        text-align: center;

        tr {
          border: 1px solid #ffa300;

          th {
            border: 1px solid #ffa300;
          }
        }
      }
      tbody {
        border: 1px solid #ffa300;
        text-align: center;

        tr {
          border: 1px solid #ffa300;

          td {
            border: 1px solid #ffa300;
            padding: 20px;
          }
        }
      }
    }
  }
}
