.mynav {
  height: 60px;
  box-shadow: 1px 1px 5px #00000026;
}
.nav-logo {
  background-color: var(--secondaryColor);
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 25px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.nav-item {
  cursor: pointer;
  span {
    color: var(--mainColor);
    font-size: 18px;
  }
}
